<html>
   <head>
      <title>Datos Almacenados</title>
   </head>
   <body>
   <br>
   <h1>DATA TEST</h1>
   <h1>NOP</h1>
   {% for x in mNop %}

        <h1> {{x}} </h1>

   {% endfor %}
   <h1>OP</h1>
   {% for x in mOp %}
        <h1> {{x}} </h1>
   {% endfor %}
   <h1>OPCLMN</h1>
   {% for x in mOpclmn %}
        <h1> {{x}} </h1>
   {% endfor %}
   <h1>OPCLMY</h1>
   {% for x in mOpclmy %}
        <h1> {{x}} </h1>
   {% endfor %}
   <h1>Promedio</h1>
   {% for x in promedio %}
        <h1> {{x}} </h1>
   {% endfor %}

   <script language = "JavaScript">

       </script>
</body>
</html>
